* {
  margin: 0;
  padding: 0;
}

.header {
  height: 15vh;
  background-color: rgb(105, 202, 105);
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
.app-logo {
  height: 40px;
  width: 40px;
  padding: 2px;
  margin: 22px;
}
.searchbar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: gray; */
  box-sizing: border-box;
  padding: 5px;
}
.search-bar {
  width: 250px;
  height: 30px;
  padding: 2px;

  /* padding-top: 4px;
  margin: 22px;
  margin-top: 24px; */
  justify-content: center;
  display: flex;
}

.search-icon {
  height: 20px;
  width: 20px;
  margin-left: 10px;
  padding: 8px;
  background-color: white;

  cursor: pointer;
}

.user-logo {
  height: 40px;
  width: 40px;
  padding: 2px;
  margin: 22px;
}

.main {
  display: flex;
  height: 85vh;
  background-color: rgb(164, 230, 164);
}
.sidebar {
  width: 20%;
  background-color: rgb(163, 241, 156);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  position: relative;
}

.sidebar-open {
  width: 40vh;
  height: 100%;
  background-color: rgb(163, 241, 156);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  position: relative;
}

.sidebar-close {
  width: 10vh;
  height: 100%;
  background-color: rgb(163, 241, 156);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  position: relative;
}

.sticky-button {
  position: absolute;
  top: 50%;
  right: -20px; /* Adjust this value to place it outside the sidebar */
  transform: translateY(-50%);
  /* padding: 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(163, 241, 156);
  /* color: white; */
  border: none;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 50px;
}

li {
  list-style: none;
  text-decoration: none;
}

.sidebar-item {
  display: flex;
  align-items: center;

  padding: 15px;

  color: black;
}
.sidebar-item:hover {
  background-color: rgb(105, 202, 105);
  color: white;
  cursor: pointer;
}
.icon {
  height: 20px;
  width: 20px;
  padding-right: 10px;
  margin: 2px;
}

.settings {
  height: 75vh;
  padding-left: 400px;
}
.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: auto;
}

.dashboard-header {
  display: flex;
  justify-content: end;
  padding: 10px;
  background-color: green;
}
.dashboard-content {
  /* border: 1px solid black; */
  box-sizing: border-box;
  margin-left: 5px;
  padding-left: 5px;
  margin-right: 5px;
  padding-right: 5px;
  height: 400px;
  width: 1000px;
}
.dashboard-tabs {
  display: flex;
  box-sizing: border-box;
}
.dashboard-page {
  /* border: 1px solid black; */
  margin: 2px;
  box-sizing: border-box;
  background-color: rgb(194, 248, 194);
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.dashboard-btn-container {
  margin-bottom: 50px;
  padding: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  width: 100px;
  padding: 5px;
  margin: 5px;
  color: white;
  box-shadow: black;
  background-color: black;
  cursor: pointer;
}

button:disabled {
  color: gray;
  background-color: white;
  cursor: default;
}
.profile-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
}
.error-msg {
  color: red;
  font-size: small;
}
.mututal-form {
  padding: 5px;
  margin: 5px;
}
.my-stocks {
  margin: 10px;
}

.my-stock-list {
  margin: 10px;
}

.tab-btn {
  padding: 4px;
  margin: 2px;
  border: 1px solid black;

  color: white;
  background-color: rgb(68, 141, 68);
  font: large;

  box-shadow: black;
}
.active-tab {
  background-color: rgb(158, 218, 158);
  color: black;
  box-sizing: border-box;
  font-size: medium;
  padding: 2px;
}
/* .tab-btn:hover {
  background-color: rgb(86, 161, 86);
} */
.error {
  height: 75vh;
  align-items: center;
  justify-content: center;
  /* padding-left: 400px; */
  display: flex;
  flex-direction: column;
}
.trending-stocks {
  height: 75vh; /* Set a fixed height */
  overflow-y: auto; /* Add scroll if table is longer */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
}
.stock-title {
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  font-style: italic;
  color: white;
  background-color: green;
  text-align: start;
}

.filter-btn {
  padding: 5px;
  width: 60px;
  margin-right: 10px;
  color: white;
  background-color: rgb(68, 141, 68);
  font: large;
  cursor: pointer;
  border: none;
  box-shadow: black;
}

.export-btn {
  padding: 5px;
  width: 110px;
  margin-right: 10px;
  color: white;
  background-color: rgb(195, 43, 43);
  font: large;
  cursor: pointer;
  border: none;
  box-shadow: black;
}
.export-menu {
  height: 53px;
  width: 107px;
  border: solid black;

  background-color: beige;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 122px;
  right: 102px;
  text-align: center;
}

.export-list {
  background-color: rgb(244, 138, 138);
  cursor: pointer;
  margin: 2px;
  padding: 2px;
}
.exp-opt:hover {
  background-color: rgb(236, 106, 106);
}
.exp-btn {
  background-color: rgb(234, 119, 119);
  border: 1px solid black;
  cursor: pointer;
}

.exp-btn:hover {
  background-color: rgb(255, 155, 155);
  border-radius: 20px;
}

.filter-btn:hover {
  background-color: rgb(105, 202, 105);
  font-weight: 400;
}

.export-btn:hover {
  background-color: rgb(245, 56, 56);
  font-weight: 400;
}
.search-error {
  width: 80%;
  margin: 20px;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table {
  width: 80%;
  margin: 20px;
  margin-left: 110px;
  border-collapse: collapse;
  border: 1px solid black;
  table-layout: fixed;
}

th {
  background-color: rgb(105, 202, 105);
  color: white;
  border: 1px solid black;
  padding: 5px;
}

.table-heading {
  display: flex;
  justify-content: space-evenly;
}
.sort-icon {
  cursor: pointer;
}
td {
  text-align: center;
  border: 1px solid black;
}

tbody td {
  height: 50px; /* Set a fixed height for rows */
}

.stock-body {
  display: flex;
  height: 100%;
}

.filter-menu {
  /* border: 1px solid black; */
  width: 200px;
  height: 270px;
  margin: 20px;
  padding: 10px;
  background-color: white;
  box-shadow: black;
}

.filter-header {
  display: flex;
  justify-content: space-between;
}

.range-filter {
  padding: 4px;
  margin: 4px;
  display: flex;
  justify-content: space-between;
}

.max-range {
  padding: 2px;
  margin: 2px;
}
.min-range {
  padding: 2px;
  margin: 2px;
}
.filter-list-item {
  display: flex;
  justify-content: start;
}
#option {
  padding: 5px;
}
/* .footer {
  height: 10vh;
  background-color: rgb(207, 201, 201);
  display: flex;
  justify-content: center;
  align-items: center;
} */

.Date {
  padding-left: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 200px;
  /* margin-top: 20px; */
}
.date-text {
  padding: 5px;
  margin: 5px;
  width: 100px;
  text-align: center;
  font: serif;
  font: bold;
}
.btns {
  display: flex;
  margin-right: 3px;
  padding-right: 5px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.tick {
  margin: 5px;
  padding: 5px;
}
.cross {
  margin: 5px;
  padding: 5px;
}
.edit-date-btn {
  margin: 5px;
  padding: 5px;
  width: 40px;
  text-align: center;
  border: 1px solid black;
  border-radius: 4px;
  background-color: rgb(103, 203, 103);
  cursor: pointer;
}
.edit-date-btn:hover {
  background-color: rgb(134, 236, 134);
  font: large;
  text-emphasis-color: Blue;
}
